@keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
   @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
   @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
   .animate-fade-in-down {
    animation: fade-in-down 1s ease-out;
  }
   .animate-fade-in-up {
    animation: fade-in-up 1s ease-out;
  }
   .animate-fade-in {
    animation: fade-in 1s ease-out;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
   .typing-cursor {
    display: inline-block;
    width: 0.5rem;
    height: 1rem;
    background-color: #CBD5E0;
    margin-left: 0.25rem;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .contact-button-enter {
    opacity: 0;
    transform: translateX(50%);
  }
   .contact-button-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.4s ease-out;
  }

  .header-enter {
    opacity: 0;
    transform: translateX(50%);
  }
   .header-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.4s ease-out;
  }

  .section {
    opacity: 0;
    transform: translateY(50px);
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .section.fade-in {
    opacity: 1;
    transform: none;
    animation-name: slideInFromBottom;
  }
  
  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }


  
    